<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>BOCS DEMO</title>

    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
  </head>

  <body>

  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            Some Random Number
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          {{ first }}
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            Another Number
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          {{ second }}
        </div>
      </div>
    </div>
  </div>


  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

  </body>
</html>
